### Contents

Import Data

Merge Dataframes

Remove Columns

Missing Values

Duplicate Data

Unexpected/Outlier Data

Export Data

### Import Data

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# create path
path = r'/Users/kaitlinkendrick/Documents/Data Analysis/Craft Beer Analysis'

In [3]:
# import dataframe
products = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Product_range.csv'), index_col = False)

In [4]:
transactions = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Transactions.csv'), index_col = False)

In [5]:
products.shape

(5314, 8)

In [6]:
transactions.shape

(50084, 8)

In [7]:
products.columns

Index(['Product_code', 'Vendor_code', 'Name', 'Retail_price', 'Base_unit',
       'Country_of_Origin', 'Size', 'ABV'],
      dtype='object')

In [8]:
transactions.columns

Index(['Date_and_time_of_unloading', 'Product_code', 'Amount', 'Sale_amount',
       'Discount_amount', 'Profit', 'Percentage_markup',
       'Discount_percentage'],
      dtype='object')

### Merge Dataframes

In [9]:
products_merged = products.merge(transactions, on = 'Product_code', how = 'outer')
# I chose an outer join due to the fact that I'm interested in the products more than the transactions and want to ensure all the data is there

In [10]:
products_merged.shape

(51442, 15)

In [11]:
products_merged.columns

Index(['Product_code', 'Vendor_code', 'Name', 'Retail_price', 'Base_unit',
       'Country_of_Origin', 'Size', 'ABV', 'Date_and_time_of_unloading',
       'Amount', 'Sale_amount', 'Discount_amount', 'Profit',
       'Percentage_markup', 'Discount_percentage'],
      dtype='object')

In [12]:
products_merged.head(10)

,Product_code,Vendor_code,Name,Retail_price,Base_unit,Country_of_Origin,Size,ABV,Date_and_time_of_unloading,Amount,Sale_amount,Discount_amount,Profit,Percentage_markup,Discount_percentage
0,5028,NaN,1 Symbiotica Apple 0.375,300.0,Pieces,Russia,0.375,4.5,2022-07-03 00:00:00,2.0,420.00,180.00,140.00,50.00,30.00
1,5028,NaN,1 Symbiotica Apple 0.375,300.0,Pieces,Russia,0.375,4.5,2022-07-09 13:00:00,4.0,960.00,240.00,400.00,71.43,20.00
2,5028,NaN,1 Symbiotica Apple 0.375,300.0,Pieces,Russia,0.375,4.5,2022-07-19 20:00:00,5.0,1440.00,60.00,740.00,105.71,4.00
3,4846,NaN,1 Symbiotica Hard Kombucha Renegade Aronia 0.33,200.0,Pieces,Russia,0.330,3.0,2022-03-20 17:00:00,4.0,412.23,277.77,52.23,14.51,40.26
4,4846,NaN,1 Symbiotica Hard Kombucha Renegade Aronia 0.33,200.0,Pieces,Russia,0.330,3.0,2022-03-23 17:00:00,2.0,360.00,40.00,180.00,100.00,10.00
5,4846,NaN,1 Symbiotica Hard Kombucha Renegade Aronia 0.33,200.0,Pieces,Russia,0.330,3.0,2022-03-27 17:00:00,2.0,319.73,80.27,139.73,77.63,20.07
6,4846,NaN,1 Symbiotica Hard Kombucha Renegade Aronia 0.33,200.0,Pieces,Russia,0.330,3.0,2022-05-06 00:00:00,2.0,316.66,83.34,136.66,75.92,20.84
7,4846,NaN,1 Symbiotica Hard Kombucha Renegade Aronia 0.33,200.0,Pieces,Russia,0.330,3.0,2022-05-09 19:00:00,1.0,159.71,40.29,69.71,77.46,20.15
8,4846,NaN,1 Symbiotica Hard Kombucha Renegade Aronia 0.33,200.0,Pieces,Russia,0.330,3.0,2022-05-21 18:00:00,2.0,320.00,80.00,140.00,77.78,20.00
9,4846,NaN,1 Symbiotica Hard Kombucha Renegade Aronia 0.33,200.0,Pieces,Russia,0.330,3.0,2022-05-26 18:00:00,1.0,160.00,40.00,70.00,77.78,20.00

In [13]:
products_merged.tail()

,Product_code,Vendor_code,Name,Retail_price,Base_unit,Country_of_Origin,Size,ABV,Date_and_time_of_unloading,Amount,Sale_amount,Discount_amount,Profit,Percentage_markup,Discount_percentage
51437,4724,NaN,Semjuel Adams Boston Lager Barrel,720.0,Liters,NaN,1.0,4.8,2022-02-26 20:00:00,10.25,7040.55,339.45,3637.55,106.89,4.60
51438,4724,NaN,Semjuel Adams Boston Lager Barrel,720.0,Liters,NaN,1.0,4.8,2022-03-02 17:00:00,13.25,8854.37,685.63,4455.37,101.28,7.19
51439,4724,NaN,Semjuel Adams Boston Lager Barrel,720.0,Liters,NaN,1.0,4.8,2022-03-07 18:00:00,1.00,664.91,55.09,332.91,100.27,7.65
51440,822,Bakunin,Bakunin Urban Juice,600.0,Liters,Russia,1.0,7.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51441,1682,NaN,Hazeljuteli Shoktabulous Barrel l temnoe fil't...,880.0,Liters,NaN,1.0,5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Remove Columns

I'm removing the Date_and_time_of_unloading, Percentage_markup, and Discount_percentage columns as they are not relevent to the scope of the project

In [14]:
# remove Date_and_time_of_unloading
products_merged = products_merged.drop(columns = ['Date_and_time_of_unloading'])

In [15]:
# remove Percentage_markup
products_merged = products_merged.drop(columns = ['Percentage_markup'])

In [16]:
# remove Discount_percentage
products_merged = products_merged.drop(columns = ['Discount_percentage'])

In [17]:
products_merged.head()

,Product_code,Vendor_code,Name,Retail_price,Base_unit,Country_of_Origin,Size,ABV,Amount,Sale_amount,Discount_amount,Profit
0,5028,NaN,1 Symbiotica Apple 0.375,300.0,Pieces,Russia,0.375,4.5,2.0,420.00,180.00,140.00
1,5028,NaN,1 Symbiotica Apple 0.375,300.0,Pieces,Russia,0.375,4.5,4.0,960.00,240.00,400.00
2,5028,NaN,1 Symbiotica Apple 0.375,300.0,Pieces,Russia,0.375,4.5,5.0,1440.00,60.00,740.00
3,4846,NaN,1 Symbiotica Hard Kombucha Renegade Aronia 0.33,200.0,Pieces,Russia,0.330,3.0,4.0,412.23,277.77,52.23
4,4846,NaN,1 Symbiotica Hard Kombucha Renegade Aronia 0.33,200.0,Pieces,Russia,0.330,3.0,2.0,360.00,40.00,180.00

### Missing Values

In [18]:
# check for missing values
products_merged.isnull().sum()

Product_code             0
Vendor_code           6755
Name                     0
Retail_price           437
Base_unit              404
Country_of_Origin     8954
Size                  6344
ABV                   6359
Amount                1358
Sale_amount           1409
Discount_amount      11560
Profit                1372
dtype: int64

Because I used an outer join on two different sized datasets there is a large amount of missing data. However, none of this data is able to be imputed and I don't want to remove the columns. To manage this missing data I will create flags for the missing data.

In [19]:
# use NaN to fill all blank spaces, the data can't be imputed and there is too much to remove the unfinished columns
print(products_merged.replace(r'^\s*$', np.nan, regex=True))

       Product_code Vendor_code  \
0              5028         NaN
1              5028         NaN
2              5028         NaN
3              4846         NaN
4              4846         NaN
...             ...         ...
51437          4724         NaN
51438          4724         NaN
51439          4724         NaN
51440           822     Bakunin
51441          1682         NaN

                                                    Name  Retail_price  \
0                               1 Symbiotica Apple 0.375         300.0
1                               1 Symbiotica Apple 0.375         300.0
2                               1 Symbiotica Apple 0.375         300.0
3        1 Symbiotica Hard Kombucha Renegade Aronia 0.33         200.0
4        1 Symbiotica Hard Kombucha Renegade Aronia 0.33         200.0
...                                                  ...           ...
51437                  Semjuel Adams Boston Lager Barrel         720.0
51438                  Semjuel Adams Boston Lager Barrel         720.0
51439                  Semjuel Adams Boston Lager Barrel         720.0
51440                                Bakunin Urban Juice         600.0
51441  Hazeljuteli Shoktabulous Barrel l temnoe fil't...         880.0

      Base_unit Country_of_Origin   Size  ABV  Amount  Sale_amount  \
0        Pieces            Russia  0.375  4.5    2.00       420.00
1        Pieces            Russia  0.375  4.5    4.00       960.00
2        Pieces            Russia  0.375  4.5    5.00      1440.00
3        Pieces            Russia  0.330  3.0    4.00       412.23
4        Pieces            Russia  0.330  3.0    2.00       360.00
...         ...               ...    ...  ...     ...          ...
51437    Liters               NaN  1.000  4.8   10.25      7040.55
51438    Liters               NaN  1.000  4.8   13.25      8854.37
51439    Liters               NaN  1.000  4.8    1.00       664.91
51440    Liters            Russia  1.000  7.2     NaN          NaN
51441    Liters               NaN  1.000  5.7     NaN          NaN

       Discount_amount   Profit
0               180.00   140.00
1               240.00   400.00
2                60.00   740.00
3               277.77    52.23
4                40.00   180.00
...                ...      ...
51437           339.45  3637.55
51438           685.63  4455.37
51439            55.09   332.91
51440              NaN      NaN
51441              NaN      NaN

[51442 rows x 12 columns]

In [20]:
# missing variable flags
products_merged.loc[products_merged['Retail_price'] == 'NaN', 'Missing_price'] = 'Missing'

In [21]:
products_merged.loc[products_merged['Vendor_code'] == 'NaN', 'Missing_vendor'] = 'Missing'

In [22]:
products_merged.loc[products_merged['Base_unit'] == 'NaN', 'Missing_unit'] = 'Missing'

In [23]:
products_merged.loc[products_merged['Country_of_Origin'] == 'NaN', 'Missing_country'] = 'Missing'

In [24]:
products_merged.loc[products_merged['Size'] == 'NaN', 'Missing_size'] = 'Missing'

In [25]:
products_merged.loc[products_merged['ABV'] == 'NaN', 'Missing_ABV'] = 'Missing'

In [26]:
products_merged.loc[products_merged['Amount'] == 'NaN', 'Missing_amount'] = 'Missing'

In [27]:
products_merged.loc[products_merged['Sale_amount'] == 'NaN', 'Missing_sale'] = 'Missing'

In [28]:
products_merged.loc[products_merged['Discount_amount'] == 'NaN', 'Missing_discount'] = 'Missing'

In [29]:
products_merged.loc[products_merged['Profit'] == 'NaN', 'Missing_profit'] = 'Missing'

In [30]:
products_merged.head()

,Product_code,Vendor_code,Name,Retail_price,Base_unit,Country_of_Origin,Size,ABV,Amount,Sale_amount,...,Missing_price,Missing_vendor,Missing_unit,Missing_country,Missing_size,Missing_ABV,Missing_amount,Missing_sale,Missing_discount,Missing_profit
0,5028,NaN,1 Symbiotica Apple 0.375,300.0,Pieces,Russia,0.375,4.5,2.0,420.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5028,NaN,1 Symbiotica Apple 0.375,300.0,Pieces,Russia,0.375,4.5,4.0,960.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5028,NaN,1 Symbiotica Apple 0.375,300.0,Pieces,Russia,0.375,4.5,5.0,1440.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4846,NaN,1 Symbiotica Hard Kombucha Renegade Aronia 0.33,200.0,Pieces,Russia,0.330,3.0,4.0,412.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4846,NaN,1 Symbiotica Hard Kombucha Renegade Aronia 0.33,200.0,Pieces,Russia,0.330,3.0,2.0,360.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
products_merged.shape

(51442, 22)

### Duplicate Data

In [31]:
# check for duplicate data
prod_no_dups = products_merged.drop_duplicates()

In [32]:
prod_no_dups.shape

(43657, 22)

There is duplicate data in this dataset, however the data is most likely related to vendors, pricing, ABV, and countries being the same. Because this data could be the same duplicates are allowed and I won't remove them.

### Unexpected/Outlier Data

In [35]:
products_merged.describe()

,Product_code,Retail_price,Size,ABV,Amount,Sale_amount,Discount_amount,Profit
count,51442.000000,51005.000000,45098.000000,45083.000000,50084.000000,50033.000000,39882.000000,50070.000000
mean,2134.277439,511.448376,0.629859,6.626747,3.553146,1429.786677,243.761323,705.901987
std,1373.951228,348.718801,0.890891,2.153972,5.485805,2419.585455,405.902060,1352.628611
min,2.000000,1.000000,0.150000,0.500000,0.033000,0.410000,0.010000,-9300.630000
25%,895.000000,300.000000,0.330000,5.100000,1.000000,330.000000,60.000000,143.070000
50%,2091.000000,380.000000,0.500000,6.000000,2.000000,630.000000,121.760000,283.000000
75%,3055.000000,620.000000,1.000000,8.000000,4.000000,1436.130000,270.615000,687.015000
max,5358.000000,8484.850000,30.000000,21.000000,248.000000,58184.070000,20440.630000,33352.460000

There are outliers in the columns max retail price, size, and abv. Although these values seem quite large the assumption is that they are outliers as a large beer with high ABV would cost a lot. Additionally, that could be a keg size which would run more expensive than a smaller portion of beer. Because these numbers appear to only be outliers the values can remain.

### Export Data

In [36]:
products_merged.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'clean_products_merged.csv'))